[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/vim-commentary"]
	path = home/.vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/vim-hybrid"]
	path = home/.vim/bundle/vim-hybrid
	url = git://github.com/w0ng/vim-hybrid.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/vim-vinegar"]
	path = home/.vim/bundle/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "home/.vim/bundle/vim-hybrid-material"]
	path = home/.vim/bundle/vim-hybrid-material
	url = https://github.com/kristijanhusak/vim-hybrid-material.git
[submodule "home/.zsh/extensions/zsh-autosuggestions"]
	path = home/.zsh/extensions/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "home/.zsh/extensions/zsh-completions"]
	path = home/.zsh/extensions/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
